<h2> <center>New Image</center> </h2>
<br><br><br>
<form action="/create_img">
  <input type="text" name="caption" placeholder="caption">
  <input type="text" name="url" placeholder="url">
  <input type="submit">
</form>