<div class="widow">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><center>Ballers of 2k14</center></h1>
      </div>
    </div>
  </div>   
  <h2><center> <%= @name %> </center></h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img height="410px" src="  <%= @url %>" alt="pew pew">
          <p>
            <strong> Bio: </strong>
           <%= @caption %>
          </p>
        </div>
          <p>
            <strong> Location: </strong> Unknown
          </p>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div id="progressbar">
  <div></div>
</div>
  </div>
     
   </div>
</div>
</div>